// General
.main-margin {
    margin: 0px 15%;
    @media (max-width: 1500px) {
      max-width: 1200px;
      margin: 0 auto;
    }
    @media (max-width: 1300px) {
      max-width: 991px;
    }
    @media (max-width: 1024px) {
      max-width: 767px;
    }
    @media (max-width: 850px) {
      max-width: 90%;
    }
}

.app-menu-container {
  padding: 0px !important;
  background-color: #F6F6F6;

  button {
    height: 100% !important;
    &.active {
      background: #EBEE00 !important;
    }
  }
}
.app-menu-container .v-slide-group__content .v-tab {
  color: #000000 !important;
  background-color: #F6F6F6 !important;
}
.app-menu-container .v-item-group {
  background-color: #F6F6F6 !important;
}
.app-menu-container .v-input__slot {
  background: transparent !important;
}
.app-menu-container .v-slide-group__content .v-tab--active {
  background-color: #EBEE00 !important;
}

.app-menu-container .v-tabs-slider-wrapper {
  display: none !important;
}



.csr {
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.solid-transparent {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  height: 55px;
  color: #FFFFFF;
  padding: 0 30px;
}

.btn-yellow {
  background: #EBEE00;
  border: 1px solid #EBEE00;
  border-radius: 6px;
  height: 55px;
  color: #000000;
  padding: 0 30px;
}

// header
.app-title {
  @media (max-width: 991px) {
   display: none;
  }
  span {
    @media (max-width: 1024px) {
      font-size: 15px;
    }
  }
  h3 {
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
}

// authentication
.authentication-img {
  background-image: url('/images/authen_bann.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 900px) {
    display: none;
  }

  .authentication-img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 0 50px;

    img {
      width: 150px;
    }

    h2{
      font-size: 35px;
      font-weight: 700;
    }

    p {
      font-size: 25px;
      font-weight: 600;
    }
  }
}

.login-main-container .login-form {
  position: relative;
  @media (max-width: 900px) {
    width: 100% !important;
    background-image: url('/images/authen_bann.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  img {
    display: none;
    @media (max-width: 900px) {
      display: block;
      width: 120px;
      margin: 0 auto;
    }
  }

  .authen_footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 15px 0;
    @media (max-width: 900px) {
      background-color: transparent;
    }
    @media (max-height: 550px) {
      position: relative;
    }

    span {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      @media (max-width: 900px) {
        color: #fff;
      }

      &:not(:last-child) {
        border-right: 2px solid #000;
        @media (max-width: 900px) {
          border-right: 2px solid #FFF;
        }
      }
    }
  }
}

.login-form form button {
  color: #000 !important;
  font-weight: 600;
  border: none;
  box-shadow: none;
}

.login-main-container .login-form > div {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  @media (max-width: 500px) {
    width: 90%;
  }

  h2,
  p {
    @media (max-width: 900px) {
      text-align: center !important;
    }
  }
}

.login-form .agree {
  margin: 20px 0;

  a {
    text-decoration: none;
  }
}

.login-form > div {
  width: 540px;
   p {
     color: #000;
     font-weight: 600;
   }
}

.login-form .v-input__slot {
  height: 50px;
}

.form-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;

  .auth-wrap {
    width: 100%;

    &.half-w {
      width: 48%;
    }

    label {}
    font-weight: 600;
    font-size: 14px;
    color: #000;
  }
}

form button.v-btn {
  background: #EBEE00 !important;
  color: #000;
  height: 50px !important;
  font-weight: 600;
  font-size: 20px;
}

.signup strong {
  cursor: pointer;
}
// landing page /
.index-text {
  font-size: 18px;
  @media (max-width: 450px) {
    font-size: 15px;
  }
}

.banner-btns {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.projects-count {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  @media (max-width: 700px) {
    margin-bottom: 20px !important;
  }
  @media (max-width: 500px) {
    margin-top: 50px !important;
  }

  .container.mt-10 {
    @media (max-width: 500px) {
      margin-top: 0 !important;
    }
  }
}
.projects-count h3{
  position: relative;
}
// .projects-count h3::before{
//   content: url("~@/static/images/file-storage.png");;
//   position: absolute;
//   left: -15%;
//   top: -20px;
// }

.landing-logo{

  img {
    width: 180px;
    @media (max-width: 1200px) {
      width: 150px;
    }
  }
}

.project-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 700px) {
    flex-direction: column;
  }

  .project-item {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    @media (max-width: 1300px) {
      width: 45%;
      margin-bottom: 50px;
    }
    @media (max-width: 991px) {
      gap: 25px;
    }
    @media (max-width: 700px) {
      width: 350px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    @media (max-width: 450px) {
      width: 100%;
    }
    @media (max-width: 350px) {
      gap: 15px;
      margin-bottom: 30px;
    }
  }
}

.project-item .folder-photo {
  width: 60px;
  @media (max-width: 1200px) {
    width: 45px;
  }
  @media (max-width: 350px) {
    width: 35px;
  }

  img {
    width: 100%;
  }
}

.project-content {
  width: calc(100% - 95px);
  @media (max-width: 1200px) {
    width: calc(100% - 80px);
  }
  @media (max-width: 991px) {
    width: calc(100% - 70px);
  }
  @media (max-width: 350px) {
    width: calc(100% - 50px);
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    width: 80%;
    @media (max-width: 1700px) {
      width: 100%;
    }
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: 450px) {
      font-size: 18px;
    }
  }
}

.info-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;

}

.project-price {
  display: flex;

  small {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #BABABA;
    @media (max-width: 1024px) {
      font-size: 16px;
    }
    @media (max-width: 375px) {
      font-size: 13px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}

.objectives {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 50px 0;
  flex-wrap: wrap;

  ol li {
    margin: 8px 0;
  }
}

.objectives > div {
  width: 48%;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.objective-logos{
  margin-top: 40px;
  display:flex;
  gap:50px;
  justify-content:center;
  align-items: center;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
  @media (max-width: 400px) {
    gap: 30px;
  }
  img{
    width:175px;

    @media (max-width: 1200px) {
      width: 110px;
    }
  }
}

.building-permit-forms {
  background: #F6F6F6;
  padding: 50px 0;

  h2 {
    text-align: center;
    margin-bottom:15px;
    @media (max-width: 600px) {
      margin-bottom: 0;
    }
  }
  p {
    text-align: center;
  }
}

.contact-us {
  background-color: #EBEE00;
  background-image: url('/images/logo-opacity.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 70px;
  .contact-wrapper {
    display: flex;
    justify-content: space-between;

    .contact-form {
      width: 47%;
      background-color: #FFFFFF;
      border-radius: 6px;
      padding: 30px;
      position: relative;
      top: 50px;
      box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.1);

      h4 {
        font-size: 20px;
        color: #000000;
        margin-bottom: 20px;
      }
    }

    .contact-details {
      width: 47%;
      padding-top: 80px;
      h3 {
        font-size: 36px;
        font-weight: 700;
        color: #000000;
      }
      h4 {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 50px;
      }
      span {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 10px;
      }
    }
  }
}

.contact-us form {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;

  .input-type {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    &.full-w {
      width: 100%;
    }

    label {
      font-size: 14px;
      color: #000000;
      font-weight: 600;
      margin-bottom: 7px;
    }
    input {
      height: 50px;
      border: 1px solid #CACACA;
      border-radius: 6px;
      padding: 0 10px;
    }
    textarea {
      height: 99px;
      border: 1px solid #CACACA;
      border-radius: 6px;
      padding: 7px 10px;
    }
  }

  button {
    background: #EBEE00;
    border-radius: 6px;
    width: 100%;
    color: #000000;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
  }
}

.building-permit-forms  .file-wrapper {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5%;
  margin-top: 50px;
  @media (max-width: 1300px) {
    gap: 0;
    justify-content: space-between;
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.building-permit-forms .file-content {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  @media (max-width: 350px) {
    margin-top: 10px;
  }
}

.building-permit-forms .file-item {
  width: 31%;
  border: 1px solid #D8D8D8;
  border-radius: 12px;
  padding: 18px 22px;
  margin-bottom: 40px;
  @media (max-width: 1300px) {
    width: 48%;
  }
  @media (max-width: 650px) {
    width: 350px;
  }
  @media (max-width: 450px) {
    width: 100%;
  }

  h3 {
    @media (max-width: 350px) {
      font-size: 15px;
    }
  }
}

.building-permit-forms .file-item a {
  display: block;
  height: max-content;
  width: max-content;
  color: #000;
  text-decoration: none;
}

.building-permit-forms .file-content .file-icon {
  width: 60px;
  @media (max-width: 1200px) {
    width: 50px;
  }

  img {
    width: 100%;
  }
}

.building-permit-forms .file-content .file-name {

  h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ACACAC;
    @media (max-width: 991px) {
      font-size: 15px;
    }
    @media (max-width: 767px) {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  small {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ACACAC;
    @media (max-width: 991px) {
      font-size: 15px;
    }
  }
}


// Footer
.app-footer {
  padding: 0;
  @media (max-width: 700px) {
    padding: 30px 0 0;
  }
}

.app-footer .web-logo {
  text-align: center;
  margin-bottom: 80px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  img {
    @media (max-width: 1200px) {
      width: 150px;
      margin: 0 auto;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
    margin: 10px 0;
    @media (max-width: 1024px) {
      font-size: 25px;
      margin: 0;
    }
    @media (max-width: 450px) {
      font-size: 22px;
      line-height: 35px;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 17px;
    }
    @media (max-width: 450px) {
      font-size: 14px;
    }
  }
}

.app-footer .web-footer-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 1.3%;
  margin-bottom: 80px;
  @media (max-width: 767px) {
    gap: 0;
  }

  li {
    list-style: none;
    width: 24%;
    margin: 5px 0;
    cursor: pointer;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    @media (max-width: 1200px) {
      width: 31%;
    }
    @media (max-width: 1024px) {
      font-size: 14px;
    }
    @media (max-width: 767px) {
      width: 48%;
    }
    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}

// Charter
.charter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0 100px;
  .left {
    width: calc(100% - 958px)
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #000000;
    }
    span {
      font-size: 20px;
      font-weight: 700;
      color: #000000;
    }
    ul {
      padding: 0;
      margin-top: 30px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .right {
    width: 958px;
    .right-cont-wrapper {
      width: 100%;
      height: 760px;
      iframe {
        width: 100%;
        height: 760px;
      }
    }
  }
}



// Browse
.index-page {
  .browse-table,
  .browse-table .table-wrapper .theme--light.v-card,
  .browse-table .table-wrapper .theme--light.v-card .theme--light.v-data-table {
    background-color: transparent;
  }

  .browse-table .table-wrapper .v-card__title {
    background-color: #CACACA;
  }

  .browse-table {
    h3 {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .v-data-footer__select {
      width: min-content;
    }

    .v-data-footer {
      justify-content: center;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.browse-table .v-sheet {
  background: transparent !important;
  height: auto !important;
  margin-bottom: 15px !important;
  .v-toolbar__title {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }
  button.v-btn {
    background: #F6F6F6 !important;
    width: 140px;
    height: 50px !important;
    border-radius: 6px;
    color: #000000 !important;
    box-shadow: none !important;
  }
  .v-input__slot {
    background: transparent !important;
  }
}

.browse-table {
  background-color: #EFEFEF;
  padding: 70px 0;
  .table-wrapper {
    width: 1608px;
    max-width: 90%;
    margin: 0 auto;

    .theme--light.v-card {
      background-color: #EFEFEF;
      box-shadow: none;
      .v-card__title {
        text-transform: uppercase;
      }
      .theme--light.v-data-table {
        background-color: #EFEFEF;
        .v-data-table-header {
          background-color: #FFF;
          tr {
            th {
              color: #000;
              &:last-child {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

.browse-table .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none !important;
}

.browse-table .v-text-field .v-label{
  color: rgba(0, 0, 0, 0.1) !important;
  text-transform: capitalize;
}

.browse-table .v-text-field__slot {
  order: 2 !important;
}

.v-data-table__wrapper {
  table {
    tr {
      td {
        color: #000;
      }
    }
  }
}

.table-filter {
  width: 140px;
  height: 50px;
  background: #F6F6F6;
  border-radius: 6px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  font-size: 16px;
  i {
    color: #000 !important;
  }
}

.browse-main-details {
  padding-top: 50px;
  h1 {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.browse-item-page {
  background-color: #EFEFEF;
}

.browse-custome-table {
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 20px;
  margin-top: 30px;

  .item {
    label {
      font-weight: 600;
      font-size: 12px;
      color: #818181;
    }
    h3 {
      font-weight: 600;
      font-size: 20px;
      color: #000000;
    }

    &:first-child,
    &:nth-child(6) {
      width: 268px;
    }
    &:nth-child(2),
    &:nth-child(7) {
      width: 150px;
    }
    &:nth-child(3),
    &:nth-child(8) {
      width: 165px;
    }
    &:nth-child(4),
    &:nth-child(9) {
      width: 165px;
    }
    &:nth-child(5) {
      width: 408px;
    }
    &:last-child {
      width: 100%;
    }
  }
}

.browse-links {
  padding-top: 50px;
}

.browse-inn-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #CACACA;
  li {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 26px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #000000;

    &.active {
      background-color: #EBEE00;
    }
    &:hover {
      background-color: #EBEE00;
    }
  }
}

.browse-link-cont {
  padding-top: 20px;
}

.table-wrapper .v-data-table__wrapper {
  height: auto !important;
}

// summary
.browse-link-inner-cont {
  table {
    width: 100%;
    .header {
      background-color: #FFFFFF;
      td {
        background-color: #FFFFFF;
      }
    }

    tr:not(.header) {
      td {
        border-bottom: 1px dashed #CACACA;
        height: 40px;
      }
    }
  }
}

.browse-link-inner-cont > h2 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  width: 540px;
  margin: 10px 0 30px 0;
  margin-left: auto;
  padding: 0 10px;

  span {
    display: block;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
  }
}

.sign-valid {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 150px;

  .sign-item {
    position: relative;

    label {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      color: #000000;
      margin-top: 80px;
    }
    span {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
      margin-top: 5px;
      text-align: center;
      display: block;
    }
    img {
      position: absolute;
      right: -50px;
      top: 0;
    }
  }
}

.program-insight {
  display: grid;
  grid-template-areas:
  'breakdown equipment'
  'breakdown manpower';

  .item {

    &.breakdown {
      grid-area: breakdown;
    }
    &.equipment {
      grid-area: equipment;
    }
    &.manpower {
      grid-area: manpower;  
    }
  }
}